Others/client1/src/META-INF/wsdl/localhost_34250/WebApplication1/NewWebService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ws.me.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ws.me.com/" name="NewWebService">
<types>
<xsd:schema>
<xsd:import namespace="http://ws.me.com/" schemaLocation="http://localhost:34250/WebApplication1/NewWebService?xsd=1"/>
</xsd:schema>
</types>
<message name="hello">
<part name="parameters" element="tns:hello"/>
</message>
<message name="helloResponse">
<part name="parameters" element="tns:helloResponse"/>
</message>
<message name="operation2">
<part name="parameters" element="tns:operation2"/>
</message>
<message name="operation2Response">
<part name="parameters" element="tns:operation2Response"/>
</message>
<message name="operation1">
<part name="parameters" element="tns:operation1"/>
</message>
<message name="operation1Response">
<part name="parameters" element="tns:operation1Response"/>
</message>
<portType name="NewWebService">
<operation name="hello">
<input wsam:Action="http://ws.me.com/NewWebService/helloRequest" message="tns:hello"/>
<output wsam:Action="http://ws.me.com/NewWebService/helloResponse" message="tns:helloResponse"/>
</operation>
<operation name="operation2">
<input wsam:Action="http://ws.me.com/NewWebService/operation2Request" message="tns:operation2"/>
<output wsam:Action="http://ws.me.com/NewWebService/operation2Response" message="tns:operation2Response"/>
</operation>
<operation name="operation1">
<input wsam:Action="http://ws.me.com/NewWebService/operation1Request" message="tns:operation1"/>
<output wsam:Action="http://ws.me.com/NewWebService/operation1Response" message="tns:operation1Response"/>
</operation>
</portType>
<binding name="NewWebServicePortBinding" type="tns:NewWebService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="hello">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="operation2">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="operation1">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="NewWebService">
<port name="NewWebServicePort" binding="tns:NewWebServicePortBinding">
<soap:address location="http://localhost:34250/WebApplication1/NewWebService"/>
</port>
</service>
</definitions>